/* src/styles/BookCard.module.css */
.card {
  display: block;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--secondary-color);
}

.title {
  font-size: 16px;
  margin-bottom: 8px;
}

.details {
  font-size: 1rem;
  margin-bottom: 4px;
  color: var(--text-color-2);
}
.details span {
  color: var(--primary-color);
}

.downloadButton {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 12px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.downloadButton:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.image {
  width: 90%;
  height: auto;
  max-width: 400px;
  display: block;
  background-color: rgb(15, 181, 181);
  border-radius: 20px;
  object-fit: cover;
  margin: 10px auto;
}