@font-face {
  font-family: "Cairo";
  src: url("./fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hafs";
  src: url("./fonts/hafs/uthmanic_hafs_v22.woff2") format("woff2"), 
      url("./fonts/hafs/uthmanic_hafs_v22.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bismillah";
  src: url("./fonts/bismillah/QCF_Bismillah_COLOR-Regular.woff2") format("woff2"), url("./fonts/bismillah/QCF_Bismillah_COLOR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mehr';
  src: url("./fonts/mehr/mehr.ttf") format('truetype');
  src: url("./fonts/mehr/mehr.woff") format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

main {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 95%;
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

* {
  font-family: "Cairo", Arial, sans-serif;
  -webkit-tap-highlight-color: #00000000;
}

header,
footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #0070f3;
}
